<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					VGN <small>backend service for <b>Sifondo</b></small>
				</h1>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">USE</a>
				</li>
				<li class="nav-item">
					<a href={{url_for('index')}}>DONT</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>